form(action="/todos" method="GET")
	input(id="search" type="text" name="q")
	button search
  
form(action="/todos/create" method="POST")
	input(id="create" type="text" name="name")
	button Create
  
ul
	each a in todos
		li= a.name