form(action="/todos" method="GET")
	input(id="search" type="text" name="q")
	button search
  
form(action="/todos/create" method="POST")
	input(id="create" type="text" name="text")
	button Create
  
ul
	each todo in todos
		li
			span= todo.text
			span &nbsp &nbsp;
			a(href="/todos/" + todo.id + "/delete", style='text-decoration: none') Delete